/*
ARCHIVO: styles.css

Este archivo contiene todo el diseño visual del sistema.

Responsabilidades:
1. Estilos de los productos.
2. Estilos del carrito.
3. Estilos de la factura.
4. Diseño responsivo.
5. Mejorar la experiencia de usuario.

Importante:
- No modificar la lógica de negocio.
- No interactuar con clases de JavaScript.
- Solo presentación.

*/



body {
  font-family: Arial, sans-serif;
}

section {
  margin-bottom: 20px;
}
